<div class="home">
    <div class="row top-banner">
        <div class="text">Tu sitio de privilegios y beneficiose exclusivos para tarjetas BAC y CREDOMATIC</div>
        <div class="image">
            <img src="" name="Image">
        </div>
    </div>

    <div class="row hero-section">
        <div class="filterlist">
            <h4 class="text md-headline">¿Qué estás buscando?</h4>
            <ul>
                <li>Belleza (352)</li>
                <li>Belleza (352)</li>
                <li>Belleza (352)</li>
                <li>Belleza (352)</li>
                <li>Belleza (352)</li>
                <li>Belleza (352)</li>
                <li>Belleza (352)</li>
            </ul>
            <div>{{ currency }}</div>
        </div>
        <div class="main-offer">
            <img src="" name="Image">
        </div>
        <div class="main-offer">
            <img src="" name="Image">
        </div>
    </div>

    <div class="row recent-section">
        <h2>Vistos recientemente</h2>
        <div class="recent-offer">
            <img src="" name="Image">
        </div>
        <div class="recent-offer">
            <img src="" name="Image">
        </div>
        <div class="recent-offer">
            <img src="" name="Image">
        </div>
        <div class="recent-offer">
            <img src="" name="Image">
        </div>
    </div>
</div>